header {
  .container {
    width: 1500px;
    margin: 0 auto;
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    ul {
      display: flex;
      list-style-type: none;
      li {
        font-size: $fontSize;
      }
    }
    .logo {
      font-size: $fontSize;
      color: $primaryColor;
    }
    .apply-btn {
      button {
        color: $primaryColor;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
      }
    }
  }
}

@media (min-width: 460px) and (max-width: 560px) {
  header {
    .container {
      .logo {
        color: red;
      }
    }
  }
}
